flows.json
[{"id":"e55c4b82.0a0d98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d7bd2a72.0294b8","type":"ui_tab","name":"to make things easier for you ! talk to your bot ","icon":"dashboard","disabled":false,"hidden":false},{"id":"210c5224.bf8d4e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"142e9e59.546182","type":"ui_group","name":"online shopping for essentials bot ","tab":"d7bd2a72.0294b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"e55c4b82.0a0d98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"available offers","payloadType":"str","x":200,"y":160,"wires":[["f9c0c3c.858e94"]]},{"id":"322c8c4a.9300b4","type":"debug","z":"e55c4b82.0a0d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"76336b58.68fd24","type":"ui_form","z":"e55c4b82.0a0d98","name":"","label":"","group":"142e9e59.546182","order":0,"width":"6","height":"6","options":[{"label":"user input","value":"a","type":"text","required":true,"rows":null}],"formValue":{"a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":150,"y":280,"wires":[["a6ba5412.0f0d88"]]},{"id":"a6ba5412.0f0d88","type":"function","z":"e55c4b82.0a0d98","name":"","func":"msg.payload=msg.payload.a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":280,"wires":[["f9c0c3c.858e94"]]},{"id":"62816357.a5556c","type":"ui_text","z":"e55c4b82.0a0d98","group":"142e9e59.546182","order":1,"width":"5","height":"3","name":"","label":"bot_response","format":"{{msg.playload}}","layout":"col-center","x":740,"y":280,"wires":[]},{"id":"f9c0c3c.858e94","type":"watson-conversation-v1","z":"e55c4b82.0a0d98","name":"","workspaceid":"fdcff2c2-8766-4b1b-a9f1-5dbb8d6fdc08","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b010d223-7a3a-464d-851d-0608e09e2d78","timeout":"","optout-learning":false,"x":440,"y":200,"wires":[["68e83400.32136c"]]},{"id":"68e83400.32136c","type":"function","z":"e55c4b82.0a0d98","name":"","func":"msg.playload=msg.payload.output.text\nreturn msg;","outputs":5,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["62816357.a5556c","322c8c4a.9300b4"],["62816357.a5556c"],["62816357.a5556c"],["62816357.a5556c"],["62816357.a5556c"]]}]